[submodule "proto"]
	path = proto
	url = git@github.com:jiangqiao2/go-video-proto.git
[submodule "services/user-service"]
	path = services/user-service
	url = git@github.com:jiangqiao2/go-video-user-service.git
[submodule "services/transcode-service"]
	path = services/transcode-service
	url = https://github.com/jiangqiao2/go-video-transcode-service.git
[submodule "services/upload-service"]
	path = services/upload-service
	url = https://github.com/jiangqiao2/go-video-upload-service.git
[submodule "services/video-service"]
	path = services/video-service
	url = https://github.com/jiangqiao2/go-video-video-service.git
[submodule "services/notification-service"]
	path = services/notification-service
	url = https://github.com/jiangqiao2/go-video-notification-service.git
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/jiangqiao2/go-video-frontend.git
